<h3>Against {{reference}}</h3>
<h4>{{value}}</h4>
<h5>Contrast {{contrast}}</h5>
<div class="pass-fail">
  <p>
    Normal Text AA
    <span class="{{normal-AA}}">
      {{normal-AA}}
    </span>
  </p>
  <p>Normal Text AAA
    <span class="{{normal-AAA}}">
      {{normal-AAA}}
    </span>
  </p>
  <p>Large Text AA
    <span class="{{large-AA}}">
      {{large-AA}}
    </span>
  </p>
  <p>Large Text AAA
    <span class="{{large-AAA}}">
      {{large-AAA}}
    </span>
  </p>
  <p>UI
    <span class="{{UI}}">
      {{UI}}
    </span>
  </p>
</div>